<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumsoon.zzz.mapper.OthZzzMapper">


    <!--
        &gt >
        &lt <
     -->
    <select id="query01" resultType="com.sumsoon.zzz.po.ZZZ">
        SELECT * FROM zzz z
        <where>
            <if test="st!=null">
                AND z.st &gt;=#{st}
            </if>
            <if test="en!=null">
                AND z.en&lt;=#{en}
            </if>
        </where>
    </select>


    <!-- open close: 多用在 where xxx in ('','','') 这样的sql -->
    <!--
        <select id="testForechSel">
            <foreach collection="ObjectList" item="object" separator="," open="(" close=")">

            </foreach>
        </select>
    -->
    <!-- 如果是单传的批量添加: 直接把() 写在foreach 里面即可 -->
    <!--
    <insert id="testForechIns">
        <foreach collection="ObjectList" item="object" separator=",">
            (
            )
        </foreach>
    </insert>
    -->
    <!--
        字符串和集合使用if 标签判断:
            字符串:
             <if test="str != null and str!=''  ">
             集合:
             <if test="list != null and list.size() > 0  ">
     -->
</mapper>
